@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-button {
  background-image: linear-gradient(to right, #33FFF3, #57D4FA, #C4C5FE, #FAFAFA);
}

.gradient-button:hover {
  transform: scale(1.02);
  background-image: linear-gradient(to right, #66FFFB, #7EE4FF, #DBDBFF, #FFFFFF);
}

.gradient-button:active {
  transform: scale(1);
}

.solid-button {
  background-color: #FFFFFF;
  border-radius: 8px;
  color: #000000;
  text-align: center;
  border-radius: 6px;
}

.solid-button:hover {
  transform: scale(1.02);
  background-color: #ebebeb;
}

.solid-button:active {
  transform: scale(1);
}

.solid-button:disabled {
  background-color: #ebebeb;
}

.background-image-div {
  background-image: url(assets/background-pattern.png);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position-x: center;
}
