@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background: #E4F1F5 url(assets/clouds.png) no-repeat 50% 50%;
}

.gradient-button {
  background-image: linear-gradient(to right, #12FE74, #057A3A, #04592B, #057A3A, #12FE74);
}

.gradient-button:hover {
  transform: scale(1.02);
  background-image: linear-gradient(to right, #0DBF57, #005727, #013D1C, #005727, #0DBF57);
}

.gradient-button:active {
  transform: scale(1);
}

.solid-button {
  background-color: #FFFFFF;
  border-radius: 8px;
  color: #000000;
  text-align: center;
  border-radius: 6px;
}

.solid-button:hover {
  transform: scale(1.02);
  background-color: #ebebeb;
}

.solid-button:active {
  transform: scale(1);
}

.solid-button:disabled {
  background-color: #ebebeb;
}

.tab-button {
  align-self: center;
  color: #A3A3A3;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.tab-button-active {
  justify-content: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #ffffff;
  border-radius: 0.375rem;
  background-color: #292929;
}
